.person-card {
    /* height: 800px !important; */
    /* height: max-content; */
    /* max-height: 750px; */
    border-radius: 36px !important;
    box-shadow: 0px 40px 60px 0px rgba(111, 122, 159, 0.29);
    padding: 10px;
}

.person-image-div {
    min-height: 300px;
    max-height: 300px;
}

.person-image-rounded {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
    clip-path: circle();
}

.person-card-body {
    text-align: center;
    min-height: 350px !important;
}