.about-juris-title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 50px;
    color: #011539;
}

p.about-juris-subtitle {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 28px;
    color: #535861;
}

p.about-juris-subtitle > span {
    font-weight: 500;
}

.link {
    font-family: Roboto;
    font-weight: 700;
    color: black;
}

.image-container {
    width: 100%;
}

.image-container > img {
    width: inherit;
    height: auto;
}

.about-image {
    object-fit: cover;
    border-radius: 40px;
}

.about-juris-description {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #535861;
    line-height: 32px;
}