@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("../components/PersonCard/PersonCard.css");
@import url("../pages/Management/ManagementScreen.css");
@import url("../pages/JurisAbout/JurisAbout.css");
@import url("../pages/AcquisitionCommissioning/AcquisitionCommissioning.css");
@import url("../pages/Marketing/Marketing.css");
@import url("../pages/Advisory/AdvisoryScreen.css");

.banner {
  background-image: url("../assets/images/bg_southsore.png");
  background-size: cover;
  border: 1px solid black;
}

.slide_img_div {
  /* height: 430px; */
  height: 340px;
  width: 570px;
  border-radius: 25px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 40px 60px 0px #6f7a9f54;
}

.s_f_logo_col {
  margin-left: 0%;
  margin-bottom: 0%;
}

.remove-dots {
  list-style: none;
}

.s_f_mar_bot {
  margin-bottom: 0%;
  /* padding-left: 0% !important; */
}

.custom-footer-Header {
  margin-bottom: 10px;
  color: #26252c;
  font-family: "Ubuntu";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
}

.custom-footer-li {
  /* font-size: 0.9rem; */
  margin-bottom: 8px;
  color: #64646f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.margin_l_footer {
  margin-left: 2.5rem;
}

.south_key {
  color: #26252c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
}

.south_val {
  color: #6e7279;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}

.pos_rel {
  position: relative;
}

.newsletter_email {
  width: 217px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid #3f4556;
  padding-left: 10px;
  font-size: 14px;
}

.arrow_pos {
  position: absolute;
  top: 7px;
  right: 17px;
}

.footer-note {
  background-color: #191a1c;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 400;
}

.follow {
  color: #6e7279;
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 18px;
}

.slide_txt_head {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 51px;
  line-height: 58px;
  color: #011539;
  text-align: left;
}

.slide_txt_head > span {
  font-size: 61px;
}

.slide_txt_description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #535861;
  text-align: left;
}

.explore_btn {
  width: 180px;
  height: 54px;
  border: none;
  border-radius: 12px;
  background: #4d39f1;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  /* padding-left: 5%; */
}

.rightarrow {
  height: 54px;
  width: 54px;
  background: #160982;
  border-radius: 12px;
  position: absolute;
  /* left: 34%; */
  right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .rightarrow_pub {
  height: 54px;
  width: 54px;
  background: #160982;
  border-radius: 12px;
  position: absolute;
  right: 34%;
  left: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-image: url("../assets/images/leftArrow.png");
  } */

.border_style {
  /* border: 1px solid; */
  /* border-image-source: linear-gradient(138.9deg, #C5D1EB 5.79%, #FFFFFF 88.61%); */
  /* border-image-slice: 30; */
  /* height: 540px; */
  height: 482px;
  box-shadow: inset rgba(169, 170, 182, 0.25) 10px -1px 10px 3px,
    rgba(169, 170, 182, 0.25) 0px -1px 5px;
}

.grey_div {
  background-color: #a9aab640;
}

.screen_head {
  font-family: "Ubuntu";
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #011539;
}

.screen_heading {
  font-family: 'Ubuntu';
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #011539;
}

.screen_sub_head {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #535861;
}

.card_style {
  border: 0.5px solid #b1bec9 !important;
  border-radius: 36px !important;
  width: 100%;
}

.img_div_style {
  background-color: #eaebef;
  border-radius: 36px;
  height: 214px;
}

.card_head {
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #011539;
}

.card_author {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  color: #535861;
}

.card_btn {
  border: 1px solid #4d39f1;
  border-radius: 12px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #4d39f1;
}

.card_btn > a {
  color: #4d39f1;
}

.margin-x {
  margin-left: 10%;
  margin-right: 10%;
}

.label_font {
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #191a1c;
}

.label_font > span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7d828a;
}

.input_style {
  border: 0.5px solid #a8a8a2 !important;
  border-radius: 10px !important;
  padding: 15px 10px 15px 10px !important;
  width: 94% !important;
}

.input_style ::placeholder {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #535861;
}

.textarea_style {
  border: 0.5px solid #a8a8a2 !important;
  border-radius: 12px !important;
  padding: 15px 10px 15px 10px !important;
  width: 97% !important;
}

.radio_toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio_toolbar label {
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  font-family: "Roboto";
  font-size: 16px;
  width: 6rem;
  text-align: center;
  border: 0.5px solid #a8a8a2;
  border-radius: 12px;
}

.radio_toolbar label:hover {
  background-color: #e5e5e5;
  border-color: white;
}

.radio_toolbar input[type="radio"]:checked + label {
  background-color: #363232;
  border-color: white;
  color: white;
}

.download_head {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #011539;
}

.download_head > span {
  font-weight: 700;
}

.pdf_btn_style {
  height: 40px;
  width: 40px;
  top: 12%;
  right: 5%;
}

/* navbar */

.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  /* overflow-x: scroll;
  white-space: nowrap; */
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-item {
  padding: 10px 20px;
  cursor: pointer;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #011539;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav_border {
  border-bottom: 0.5px solid #cdcdc3;
}

.navbar-item.active {
  color: #4d39f1;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.navbar-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100%;
  background-color: #4d39f1;
  color: #4d39f1;
  border-radius: 3px;
}

.card_style_1 {
  background-color: #f4f4f4 !important;
  border-radius: 24px !important;
  height: 152px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.card_style_1 > div > ul > li::marker {
  color: #4d39f194 !important;
  font-size: 30px !important;
}

.card_style_1 > div > ul > li {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #191a1c;
}

pr {
  padding-right: 10px !important;
}

.me_3 {
  margin-right: 1rem !important;
}

.carousel_caption_style {
  right: 15% !important;
  left: 10% !important;
  bottom: 2.50rem !important;
}

@media screen and (max-width: 436px)and (min-width: 377px) {

  /* .me_3 {
    margin-right: 2.6rem !important;
  } */

  .rightarrow {
    height: 54px;
    width: 54px;
    background: #160982;
    border-radius: 12px;
    position: absolute;
    /* left: 34%; */
    right: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explore_btn {
    width: 180px;
    height: 54px;
    border: none;
    border-radius: 12px;
    background: #4d39f1;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    padding-left: 5%;
  }

  /* .navbar-item {
    overflow-x: scroll;
    white-space: nowrap;
    
  } */

  /* .navbar-item.active {
    color: #4D39F1;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
  
  } */
}

.dropdown .dropdown-toggle:after {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  font: normal normal normal 24px / 1 "themify";
  content: "" !important;
  width: auto;
  height: auto;
  vertical-align: baseline;
  font-size: 0.75rem;
}

.text-start {
  margin-top: 3%;
}

@media screen and (min-width: 767.67px) {
  .rotate-on-big-screen {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 500px) {
  .border_style {
    height: 950px;
  }

  .margin-x {
    margin-left: 5%;
    margin-right: 0;
  }

  .card_style {
    border: 0.5px solid #b1bec9 !important;
    border-radius: 36px !important;
    width: 66%;
  }
}

@media screen and (min-width: 1920px) {
  .me_3 {
    margin-right: 2.6rem!important;
  }

  .carousel_caption_style {
    right: 15% !important;
    left: 17% !important;
    bottom: 2.50rem !important;
  }
}
